---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { fetchRecipes } from '../dataFetch';
import BaseHead from '../components/BaseHead.astro';

let recipes = await fetchRecipes();
---

<html lang="en">
<BaseHead />
<body>
  <Header />
  <main class="home-main">
    <h1>Hot Recipes</h1>
    <section class="recipes-section">
      {recipes.length > 0 ? (
        recipes.map((recipe) => (
          <article class="recipe-card">
            <img src={recipe.Image} alt={recipe.Title} class="recipe-image" />
            <div class="recipe-content">
              <h2><a href={`/recipes/${recipe.Slug}`}>{recipe.Title}</a></h2>
              <p>Chef {recipe.Author}</p>
              <p>{recipe.Subtitle}</p>
            </div>
          </article>
        ))
      ) : (
        <p>No recipes found.</p>
      )}
    </section>
  </main>
  <Footer />
</body>
</html>
