---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { fetchRecipes } from '../dataFetch';
import type { RecipePost } from '../../types';
import "../styles/home.css"

interface Post {
  id: string;
  slug: string;
  body: string;
  collection: string;
  data: RecipePost;
}

const posts: Post[] = await fetchRecipes();
---

<html lang="en">
<head>
</head>
<body>
  <Header />
  <main class="home-main">
    <h1>Hot Recipes</h1>
    <section class="recipes-section">
      {posts.map((post) => (
        <article class="recipe-card">
          <a href={`/recipes/${post.slug}`}>
            <img src={post.data.image} alt={post.data.title} class="recipe-image" />
          </a>
          <div class="recipe-content">
            <h2><a href={`/recipes/${post.slug}`}>{post.data.title}</a></h2>
            <p>Chef {post.data.author}</p>
            <p>{post.data.excerpt}</p>
            <div class="recipe-votes">
              <button><img src="../../images/up.png" alt="Up arrow"></button>
              <span>0</span>
              <button><img src="../../images/down.png" alt="Down arrow"></button>
            </div>
          </div>
        </article>
      ))}
    </section>
  </main>
  <Footer />
</body>
</html>
