---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { fetchRecipes } from '../dataFetch';
import "../styles/home.css"

interface Recipe {
  Author: string;
  Title: string;
  Image: string;
  Subtitle: string;
}

let recipes: Recipe[] = [];

try {
  recipes = await fetchRecipes();
} catch (error) {
  console.error("Failed to fetch recipes:", error);
}
---

<html lang="en">
<head>
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
  <Header />
  <main class="home-main">
    <h1>Hot Recipes</h1>
    <section class="recipes-section">
      {recipes.length > 0 ? (
        recipes.map((recipe) => (
          <a href={`/recipes/${recipe.Slug}`} class="recipe-link"> <!-- Link to the dynamic route -->
            <article class="recipe-card">
              <img src={recipe.Image} alt={recipe.Title} class="recipe-image" />
              <div class="recipe-content">
                <h2>{recipe.Title}</h2>
                <p>Chef {recipe.Author}</p>
                <p>{recipe.Subtitle}</p>
              </div>
            </article>
          </a>
        ))
      ) : (
        <p>No recipes found.</p>
      )}
    </section>
  </main>
  <Footer />
</body>
</html>